*.pyc
*.pyo
__pycache__
.DS_Store
.cache
.coverage
.vagrant
.idea
.project
.pydevproject
*.sqlite3
postgresql_data
log.txt
staticfiles/*
venv/*
env/*
media/*
*.mo
logs/
cleanup_backups/*
static/*
.env
.env*
!.gitkeep
.pytest_cache
coverage.xml
